:root {
  --mar: 5;
  --text-color: rgb(179, 179, 179);
  --highlight-color: rgb(69,69,69);
}

form   { display: table;      }
.row   {
  display: table-row;
  margin-top: var(--mar);
  margin-bottom: var(--mar);
}
label  { display: table-cell; }

select {
  display: table-cell;
  background-color: rgb(29,29,29);
  /* outline-color: var(--highlight-color); */
  outline-style: none;
  color: var(--text-color);
}
input  { 
  display: table-cell;
  background-color: rgb(29,29,29);
  border: 2px solid rgb(138,138,138);
  color: var(--text-color);
}

button { 
  display: table-cell;
  border: 2px solid rgb(138,138,138);
  border-radius: 25px;
  background-color: rgb(21,21,21);
  color: var(--text-color);
}

button:hover {
  background-color: rgb(138, 138, 138);
  color: rgb(21,21,21);
}

/* button:focus {
  background-color: rgb(0,142,230);
  border: 2px solid rgb(0,142,230);
} */

body {
    /* margin: 0px; */
    /* overflow: hidden */
    align-content: center;
    background-color: rgb(35,35,35);
    /* color: rgb(174, 174, 174); */
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
  }