:root {
  --mar: 5
}

form   { display: table;      }
.row   {
  display: table-row;
  margin-top: var(--mar);
  margin-bottom: var(--mar);
}
label  { display: table-cell; }
select { display: table-cell; }
input  { display: table-cell; }
button { display: table-cell; }

body {
    /* margin: 0px; */
    /* overflow: hidden */
    align-content: center;
    background-color: rgb(35,35,35);
    color: rgb(174, 174, 174);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
  }